doctype html
html
  include templates/head.pug
  body
    include templates/menu.pug
    .container.mt-4
      h1 Zmiana hasła
      form(action="/api/changepassword", method="POST")
        .form-group
          label(for="currentPassword") Aktualne hasło:
          input#currentPassword.form-control(type="password", name="currentPassword", required)
        .form-group
          label(for="newPassword") Nowe hasło:
          input#newPassword.form-control(type="password", name="newPassword", required)
        .form-group
          label(for="confirmNewPassword") Potwierdź nowe hasło:
          input#confirmNewPassword.form-control(type="password", name="confirmNewPassword", required)
        button.btn.btn-primary(type="submit") Zmień hasło
