doctype html
html
  include templates/head.pug
  body
    include templates/menu.pug
    div.container
      div.row
        div.col-md-6.offset-md-3
          form(action="/api/login", method="POST")
            div.form-group
              label(for="email") Email użytkownika:
              input#email.form-control(type="text", name="email", placeholder="Wprowadź nazwę użytkownika lub email", required)
            div.form-group
              label(for="password") Hasło:
              input#password.form-control(type="password", name="password", placeholder="Wprowadź hasło", required)
            button.btn.btn-primary(type="submit") Zaloguj się