doctype html
html
  include templates/head.pug
  body
    include templates/menu.pug
    div.container
      div.row
        div.col-md-6.offset-md-3
          form(action="/api/register", method="POST")
            div.form-group
              label(for="username") Nazwa użytkownika:
              input#username.form-control(type="text", name="username", placeholder="Wprowadź nazwę użytkownika", required)
            div.form-group
              label(for="email") Adres email:
              input#email.form-control(type="email", name="email", placeholder="Wprowadź adres email", required)
            div.form-group
              label(for="password") Hasło:
              input#password.form-control(type="password", name="password", placeholder="Wprowadź hasło", required)
            div.form-group
              label(for="confirmPassword") Potwierdź hasło:
              input#confirmPassword.form-control(type="password", name="confirmPassword", placeholder="Potwierdź hasło", required)
            button.btn.btn-primary(type="submit") Zarejestruj się
